<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="instrumentSettings" type="System.Configuration.NameValueSectionHandler" />
		<section name="keilSettings" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<instrumentSettings>
	    <add key="Tenma2540" value="PORT=COM6,BAUDRATE=9600,CHANNEL=1,connected=true"></add>
		<add key="sfpUART" value="PORT=COM5,BAUDRATE=62500,CHANNEL=1,connected=true"></add>
	    <add key="OSA" value="IPADDR=192.168.108.179,PORT=8002,READBUFFER=8192,WRITEBUFFER=8192,connected=false"></add>
		<add key="Wavemeter" value="IPADDR=192.168.108.179,PORT=23,READBUFFER=8192,WRITEBUFFER=8192,connected=true"></add>
		<add key="KeterexInterface" value="connected=false"></add>
	</instrumentSettings>
	<keilSettings>
		<add key="keilExe" value="C:\Keil_v5\UV4\UV4.exe"></add>
		<add key="buildProject" value="C:\Module_Firmware_Flash\DummyProject\DummyProject.uvprojx"></add>
		<add key="hexFile" value="C:\Module_Firmware_Flash\DummyProject\Objects\SFP_BETA-1_rev_1_1_0-3042-RELEASE.hex"></add>
	</keilSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>